:root {
    // grid
    --libRaisonneGridUnitBase: 1.5rem;

    // color
    --libRaisonneColorPrimary: #00ffb2;
    --libRaisonneColorColumnOdd: #f9f9f9;
    --libRaisonneColorColumnEven: #ffffff;

    // background
    --libRaisonneColorBgBase: #fff;

    // border
    --libRaisonneBorderWeightBase: 1px;
    --libRaisonneBorderStyleBase: solid;
    --libRaisonneBorderColorEventDetail: rgba(221, 221, 221, 0.5); 
    --libRaisonneBorderColorSeparateBase: #ccc;
    --libRaisonneBorderColorSeparateDays: var(--libRaisonneColorBgBase);
    // text 
    --TextColor: #000;
    
    // font-size
    --libRaisonneFontSizeTitleAll: 1rem;
    --libRaisonneFontSizeTitleCrown: 0.5em;
    --libRaisonneFontSizeTitleSub: 0.875em;

    // timeline / transform
    --libRaisonnePosTimelineScrollX: 0;

    // header
    --libRaisonneHeaderHeight: 5.375rem;
    --libRaisonneHeaderColorBgDayWeek: #eee;
    --libRaisonneColorTextDayWeekSat: #005aff;
    --libRaisonneColorTextDayWeekSun: #ff3c00;

    // event detail
    --libRaisonneWidthEventDetailUnit: 10;
    --libRaisonneWidthEventDetailResult: calc(var(--libRaisonneGridUnitBase) * var(--libRaisonneWidthEventDetailUnit));

    // event detail header
    --libRaisonneSizeRemEventDetailWidth: var(--libRaisonneWidthEventDetailResult);
    --libRaisonneSizeRemEventDetailHeight: 5rem;

    // event detail duration
    --libRaisonneColorTimelineEventDetailDuration: var(--libRaisonneColorPrimary);
    --libRaisonneColorBgEventDetail: rgba(221, 221, 221, 0.35); 

    // z-index
    --libRaisonneZindexUiGlobal:   10;
    --libRaisonneZindexUiContents:  5;
    --libRaisonneZindexUiDisable:   1;
}