
@mixin display() {
    &[data-raisonne-elem-status-display="false"] {
        display: none;
        opacity: 0;
        transition: max-height 0.3s;
        max-height: 0;
        overflow: hidden;
        // overflow: clip;
    }

    &[data-raisonne-elem-status-display="true"] {
        display: flex;
        opacity: 1;
        animation-duration: 0.5s;
        animation-name: fade-in;
        -moz-animation-duration: 0.5s;
        -moz-animation-name: fade-in;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-name: fade-in;
    }

    @keyframes fade-in {
        0% {
          display: none;
          opacity: 0;
          max-height: 0;
        }
  
        1% {
          display: flex;
          opacity: 0;
          max-height: 70px;
        }
  
        10% {
          display: flex;
          opacity: 0;
          max-height: 81px;
        }
  
        100% {
          display: flex;
          opacity: 1;
        //   transition: max-height 0.25s;
          max-height: 81px;
        }
      }
  
      @-moz-keyframes fade-in {
        0% {
          display: none;
          opacity: 0;
          max-height: 0;
        }
  
        1% {
          display: flex;
          opacity: 0;
          max-height: 70px;
        }
  
        10% {
          display: flex;
          opacity: 0;
          max-height: 81px;
        }
  
        100% {
          display: flex;
          opacity: 1;
        //   transition: max-height 0.25s;
          max-height: 81px;
        }
      }
  
      @-webkit-keyframes fade-in {
        0% {
          display: none;
          opacity: 0;
          max-height: 0;
        }
  
        1% {
          display: flex;
          opacity: 0;
          max-height: 70px;
        }
  
        10% {
          display: flex;
          opacity: 0;
          max-height: 81px;
        }
  
        100% {
          display: flex;
          opacity: 1;
        //   transition: max-height 0.25s;
          max-height: 81px;
        }
      }
}